@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.ticket-schedule {
  background: url('./resources/images/satrangi.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #bfbebd;
  padding: 20px 20px 0 20px;
  background-blend-mode: soft-light;
  overflow: hidden;
}

.headline {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.schedule-title {
  font-size: 28px;
  margin: 0 0 35px 35px;
  padding: 15px 0 0 15px;
  font-weight: 600;
  color: #272a31;
  text-align: center;
}

.schedule-title::after {
  content: '';
  border-bottom: 3px solid #ec5242;
  display: block;
  padding-bottom: 10px;
  margin: 0 auto;
  width: 50px;
}

.schedule-title:hover {
  color: #ec5242;
  font-weight: 900;
  transform: translateY(-5px);
}

.table .time-schedule {
  margin-bottom: 0;
  padding-bottom: 0;
}

.date-schedule {
  width: 100%;
  height: 80px;
  border: none;
  padding-bottom: 25px;
  margin-left: 17%;
}

.date-schedule th {
  justify-content: space-between;
  gap: 2rem;
  background: #dcdbda;
  color: #767574;
  border-radius: 6px;
  font-size: 16px;
}

.date-schedule th:hover {
  color: white;
  font-weight: 900;
  background: #ec5242;
  box-shadow: 3px 5px 9px 2px rgba(250, 167, 206, 0.55);
  box-shadow: 7px 15px 12px 3px #f34f4fb5, 0 8px 2px 0 #b30202f6;
  transform: rotateX(20deg);
  transform: translateY(-7px);
}

.thin-line {
  width: 975px;
  color: #918d8d;
  margin-top: 0;
  border: 1px solid #dfdede;
  margin-bottom: 20px;
  margin-left: 17%;
}

.tag-add {
  width: 300px;
  height: 47px;
  border-radius: 50px;
  margin-top: 10px;
  font-size: 10px;
  background-color: #e6e3e1;
  border: 1px solid #c7c1bb;
  color: #7b7773;
  position: relative;
}

.tag-add::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 39px;
  left: 80px;
  transform: rotate(60deg);
  background-color: #e6e3e1;
  border: 1px solid #e6e3e1;
}

.tag-add::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(60deg);
}

button {
  float: right;
  margin-right: 9%;
}

.tag-add:hover {
  color: white;
  font-weight: 900;
  background: #ec5242;
  box-shadow: 3px 5px 9px 2px rgba(250, 167, 206, 0.55);
  box-shadow: 7px 15px 12px 3px #f34f4fb5, 0 8px 2px 0 #b30202f6;
  transform: rotateX(20deg);
  transform: translateY(-7px);
}

.sub-date-heading {
  font-size: 24px;
  margin-top: 35px;
  margin-right: 0;
  margin-left: 19%;
  font-weight: 900;
  color: #272a31;
  text-align: center;
}

.sub-date-heading strong {
  font-size: 25px;
  font-weight: 900;
}

.sub-date-heading:hover {
  color: #ec5242;
  font-size: 26px;
  letter-spacing: 1px;
  transform: translateY(-7px);
}

.sub-date-heading strong:hover {
  font-size: 27px;
}

.topic-title {
  font-size: 28px;
  margin: 35px;
  padding: 15px 0 0 15px;
  font-weight: 900;
  color: #272a31;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 5px;
}

span {
  font-weight: 600;
  color: #272a31;
}

legend {
  font-weight: 500;
  color: #272a31;
}

.topic-title legend:hover {
  color: #ec5242;
  font-size: 30px;
  letter-spacing: 2px;
  transform: translateY(-7px);
}

.topic-intro-text {
  color: #292d35;
  padding: 25px;
  width: 60%;
  margin-bottom: 15px;
  text-align: center;
  margin-left: 19%;
  margin-top: 0;
}

.program-schedule {
  background: #e7e7e7;
    display: flex;
    color: #fff;
    height: 35px;
    justify-content: flex-end;
    align-items: center;
    width: 450px;
    margin-right: 13.8%;
    padding-left: 0;
    float: right;
    margin-top: 0px;
    padding-top: 0;
    top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 5px;
    border: 1px solid #b0afaf;
    box-shadow: 3px 5px 9px 2px rgba(250, 167, 206, 0.55);
}


.program-schedule:hover {
  box-shadow: 3px 5px 9px 2px rgba(250, 167, 206, 0.55);
  box-shadow: 7px 15px 12px 3px #f34f4fb5, 0 8px 2px 0 #b30202f6;
  transform: rotateX(20deg);
  transform: translateY(-7px);
}

.program-schedule-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.program-schedule-item {
  margin-right: 10px;
}

.icon-r {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background: #f5bcbc;
  margin-right: 10px;
  text-align: center;
  overflow: hidden;
  list-style: none;
  box-shadow: 5px 10px 20px rgba(74, 74, 74, 0.3);
}

.program-schedule-item-link {
  display: flex;
  float: left;
  color: #413f3f;
  font-size: 14px;
  text-align: center;
}

.program-schedule-item-link:hover {
  color: #272a31;
  font-weight: 600;
  letter-spacing: 1px;
  transform: translateY(-5px);
}

.program-schedule img {
  width: 20px;
  margin-top: 7px;
}

.icon-r:hover {
  top: -30px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: all 0.5s ease-in;
  box-shadow: 3px 5px 9px 2px rgba(250, 167, 206, 0.55);
  box-shadow: 7px 15px 12px 3px #f34f4fb5, 0 8px 2px 0 #b30202f6;
  transform: rotateX(20deg);
  transform: translateY(-7px);
}

.icon-r img:hover {
  transition: all 0.5s ease-in;
  box-shadow: 3px 5px 9px 2px rgba(250, 167, 206, 0.55);
  box-shadow: 7px 15px 12px 3px #f34f4fb5, 0 8px 2px 0 #b30202f6;
  transform: translate(-50%) rotate(45deg);
}

.lecture {
  background: #94bfd7;
}

.forum {
  background: #f57086;
}

.workshop {
  background: #b189d1;
}

.ignite {
  background: #92d1c8;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 330px 3fr;
  grid-template-rows: repeat(18, 50px);
  grid-gap: 1px;

  /* grid-template-areas: ; */

  /* background: transparent; */
  padding: 1px;
  margin-top: 2%;
  border: 1px solid rgb(247, 243, 243);
  margin-left: 17%;
}

.grid-container > div {
  /* background: rgba(201, 201, 201, 0.8); */
  text-align: center;
  padding: 2px;
  font-size: 14px;
  list-style: none;
  border: 1px solid rgb(193, 191, 191);
  box-shadow: 3px 5px 9px 2px rgba(250, 167, 206, 0.55);
  justify-items: center;
  margin-right: 0%;
}

.div1 {
  background: #92d1c8;
  grid-column: 1 / span 3;
  grid-row: 1;
  /*grid-area: 1 / 4 / 1 / 1;*/
  height: 50px;
}

.div2 {
  background: #94bfd7;
  grid-column: 1 / span 3;
  grid-row: 2;
  /*rid-area: 2 / 4 / 2 / 1;*/
  height: 50px;
}

.div3 {
  background-color: #d79494;
  grid-column: 1 / span 3;
  grid-row: 3;
  /*grid-area: 3 / 4 / 3 / 1;*/
  height: 50px;
}

.div4 {
  background-color: #d7b994;
  grid-column: 1 / span 3;
  grid-row: 4;
  /*grid-area: 4 / 4 / 4 / 1;*/
  height: 50px;
}

.div5 {
  background-color: #d7a994;
  grid-column: 1;
  grid-row: 5 / span 7;
  /*grid-area: 5 / 2 / 5 / 1;*/
  /*height: 150px;*/
}

.div6 {
  background-color: #d7cd94;
  grid-column: 2;
  grid-row:  5 / span 7;
  /*grid-area: 5 / 3 / 5 / 2;
  height: 150px;*/
}

.div7 {
  background-color: #ced794;
  grid-row:  5 / span 7;
  grid-column: 3;
  /*height: 150px;
  grid-area: 5 / 4 / 5 / 3;*/
}

.div8 {
  background-color: rgb(222, 167, 167);
  grid-row: 8;
  grid-column: 1 / span 3;
  /*grid-area: 9 / 4 / 8 /1;
  height: 50px;*/
}

.div9 {
  background-color: #b9d794;
  grid-row: 9 / span 11;
  grid-column: 1 ;
  /*height: 150px;
  grid-area: 9 / 2 / 10 / 1;*/
}

.div10 {
  background-color: #85d162;
  grid-row: 9 / span 11;
  grid-column: 2 ;
  /*grid-area: 9 / 3 / 10 / 2;
  height: 150px;*/
}

.div11 {
  background-color: #94d7b3;
  grid-row: 9 / span 15;
  grid-column: 3 ;
  height: 350px;
}

.div12 {
  background-color: #d79494;
  grid-row: 12;
  grid-column: 1 / span 2;
  /*height: 50px;*/
}

.div13 {
  background-color: #94cdd7;
  grid-row: 12 / span 15;
  grid-column: 1;
  /*height: 150px;*/
}

.div14 {
  background-color: #d79494;
  grid-row: 12 / span 15;
  grid-column: 2;
  /*height: 150px;*/
}

.div15 {
  background-color: #94b9d7;
  grid-column: 1 / span 3;
  grid-row: 16;
  /*height: 50px;*/
}

.div16 {
  background-color: #d79494;
  grid-column: 1 / span 3;
  grid-row: 17;
  height: 50px;
}

.div17 {
  background-color: #cc94d7;
  grid-column: 1 / span 3;
  grid-row: 18 / span 19;
  /*height: 100px;*/
}


/*.s-date {
  float: left;
  padding-left: 10px;
  padding-right: 15px;
}

.opening-remark {
  padding-right: 45%;
  padding-left: 5%;
  height: 35px;
}

.t-zoon {
  color: #272a31;
  margin-top: -3.5%;
  align-items: center;
  padding-left: 45%;
}

.b-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 850px;
  float: left;
  margin-left: 14%;
  padding-left: 15px;
  margin-right: 1px;
  padding-right: 0;
  margin-top: -1.8%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #e7ddd4;
  background: #b5a3bf;
}

.b-btn:hover {
  background: #d7acef;
  box-shadow: 3px 5px 9px 2px rgba(250, 167, 206, 0.55);
  box-shadow: 7px 15px 12px 3px #f34f4fb5, 0 8px 2px 0 #b30202f6;
  transform: translate(-7px);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon-r i {
  font-size: 17px;
  margin-top: 10px;
  color: #fff;
}

.icon-r i:hover {
  color: #ec5242;
  transition: all 0.5s ease-in;
  box-shadow: 3px 5px 9px 2px rgba(250, 167, 206, 0.55);
  box-shadow: 7px 15px 12px 3px #f34f4fb5, 0 8px 2px 0 #b30202f6;
  transform: translate(-50%) rotate(45deg);
}

.keynote {
  padding-right: 45%;
}

.keynote span {
  padding-right: 10px;
}

.p-place {
  color: var(--primary-color);
}

.note span {
  padding-right: 10px;
}

.break {
  height: 35px;
  justify-items: center;
  padding-top: 0;
}

.grid-item {
  display: flex;
  height: 165px;
}

.s-pro-forum {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 269px;
  height: 350px;
  padding-right: 0;
  margin-right: 0;
  background: #c1d1d9;
  border: 1px solid #e7ddd4;
  border-radius: 5px;
  box-shadow: 3px 5px 9px 2px rgba(250, 167, 206, 0.55);
}

.s-pro {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 269px;
  height: 150px;
  padding-right: 0;
  margin-right: 0;
  background: #c1d1d9;
  border: 1px solid #e7ddd4;
  border-radius: 5px;
  box-shadow: 3px 5px 9px 2px rgba(250, 167, 206, 0.55);
}

.s-pro:hover {
  background: #aad4e9;
  transition: all 0.5s ease-in;
  box-shadow: 3px 5px 9px 2px rgba(250, 167, 206, 0.55);
  box-shadow: 7px 15px 12px 3px #f34f4fb5, 0 8px 2px 0 #b30202f6;
  transform: rotateX(20deg);
  transform: translateY(-7px);
}

.t-speach {
  margin-left: 2%;
  padding: 3px;
}

.p-name {
  padding-left: 22%;
  margin-top: -13%;
  font-size: 15px;
  font-weight: 900;
}

.t-detls {
  font-size: 12px;
  margin-top: 4%;
  margin-left: 0;
  padding-left: 0;
}

.t-place {
  font-size: 12px;
  margin-top: 8%;
  text-align: end;
  margin-right: 0;
  padding-right: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.t-place span {
  color: #ec5242;
}

.t-place legend {
  text-decoration: underline;
}

.access {
  position: relative;
}

.ministry {
  height: 360px;
  overflow: hidden;
}*/

@media screen and (max-width: 768px) {

  .table .time-schedule {
    margin-top: 0;
    padding-top: 0;
    top: 0;
  }

  .date-schedule {
    width: 500px;
    margin-left: 20%;
  }

  .thin-line {
    width: 475px;
    margin-left: 20%;
  }

  .tag-add {
    width: 200px;
    margin-right: 20%;
  }

  .topic-title {
    font-size: 24px;
  }

  .topic-title span {
    font-size: 24px;
  }

  .topic-title legend {
    font-size: 24px;
  }

  .topic-title:hover {
    color: var(--primary-color);
    font-weight: 900;
    letter-spacing: 2px;
    transform: translateY(-7px);
    font-size: 25px;
  }

  .topic-title span:hover {
    color: var(--primary-color);
    font-weight: 900;
    letter-spacing: 2px;
    transform: translateY(-7px);
    font-size: 25px;
  }

  .topic-title legend:hover {
    color: var(--primary-color);
    font-weight: 900;
    letter-spacing: 2px;
    transform: translateY(-7px);
    font-size: 25px;
  }

  .grid-container {
    width: 500px;
    margin-top: 0.5%;
    margin-right: 13.8%;
  }
}

@media screen and (min-width: 768px) {
  .schedule-title {
    margin-top: 0;
    padding-top: 0;
  }

  .headline {
    max-width:800px;
  }

  .sub-date-heading{
    margin-left: 38%;
  }

  .date-schedule {
    width: 1000px;
    padding-bottom: 25px;
  }

  .program-schedule{
    width: 31%;
    height: 50px;
    margin-right: 14%;
  }

  .tag-add {
    margin-top: 10px;
  }

  button {
    margin-right: 18%;
  }

  .grid-container {
    padding-top: 0;
    margin-top: 0;
    width: 1000px;
    margin-right: 13.8%;
  }
}





