@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.select-ticket {
  background: url('./resources/images/Natore\ Kacha\ gollah.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #bfbebd;
  padding: 20px 20px 0px 20px;
  background-blend-mode: soft-light;
  overflow: hidden;
}

.ticket-menubar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 100%;
}

.ticket-menubar-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.ticket-item {
  margin-right: 7px;
}

.ticket-menu-text {
  color: #ec5242;
  font-size: 14px;
  font-weight: 500;
  align-self: center;
}

.ticket-menu-text:hover {
  color: #272a31;
}

.ticket-menu-icon {
  max-height: 20px;
  color: #f70909;
}

.ticket-menu-icon:hover {
  color: rgb(84, 84, 87);
}

.ticket-menu-icon .fa-house {
  color: #272a31;
  font-size: 12px;
}

.ticket-menu-icon .fa-house:hover {
  color: #ec5242;
}

.headline {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}





